/* ----------------
    Reset
---------------- */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

img {
    max-width: 100%;
}

/* ----------------
    General
---------------- */ 
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding: 0 15px;
}

.grow {
    flex-grow: 1;
}

/*-------------------
    BUTTONS
-------------------*/
.btn {
    
}
.btn-primary {
    
}
.btn-secondary {
    
}
.btn-third {
    
}

/*-------------------
    HEADER
-------------------*/
