/* ----------------
    RESET
---------------- */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

main, footer {
    line-height: 1.5;
}

/* ----------------
    GENERAL
---------------- */ 
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    padding: 0 10px;
}

/*-------------------
    BUTTONS
-------------------*/
.btn {
    border-radius: 20px;
    border-color: transparent;
    padding: 5px 10px;
}
.btn-primary {
    color: white;
    background-color: #0084fd;
    margin-top: 20px;
    padding: 5px 50px;
}
.btn-secondary {
    background-color: #9792e4;
    padding: 5px 30px;
    color: #ffffff;
}
.btn-third {
    color: #9792e4;
    background-color: #ffffff;
    margin: 15px;
    padding: 10px 40px;
    font-weight: 600;
}

/*------------------
    HEADER
-------------------*/
header {
    background-color: #0084fd;
    height: 75px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
    
header a {
    text-decoration: none;
    color: white;
}

header ul {
    display: flex;
    line-height: 75px;
    font-size: 14px;
}

#bars {
    display: none;
    font-size: 30px;
    color: white;
    margin-right: 10px;
    line-height: 75px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

/*-------------------
   RESPONSIVE
-------------------*/
@media screen and (max-width: 992px){
    header ul  {
        display: none;
    }

    #bars {
        display: block;
    }
}

/*-------------------
    SECTION INTRO
-------------------*/
#intro {
    margin-top: 100px;
}

#intro .col {
    width: calc(100% / 3);
    padding: 10px;
}

#intro .card {
    background-color: #b5ddff;
    height: 100%;
    color: #0084fd;
    padding: 20px;
    border-radius: 20px;
}

#intro .card h3{
    color: #0084fd;
}

.grow {
    flex-grow: 1;
}

#intro .grow .card {
    display: flex;
    padding-bottom: 0;
}

#intro .grow .card img {
    display: block;
    max-width: 200px;
    max-height: 270px;
}

.i-size i{
    font-size: 55px;
    margin-bottom: 15px;
}

.i-size {
    text-align: center;
}

#intro p {
    color: #5a6e7f;
    margin-top: 15px;
}

.btn i{
    margin-right: 5px;
}

/*-------------------
   RESPONSIVE
-------------------*/
@media screen and (max-width: 992px) {
    #intro .grow .card {
        display: block;
    }

    #intro .grow .card img {
        display: block;
        margin-top: 30px;
    }
}

@media screen and (max-width: 768px){
    #intro  .col{
        width: 100%;
    }
    #intro .grow .card {
        margin: 0 auto;
    }
}

/*-------------------
   SECTION PLANNING
-------------------*/
.plannings{
    margin-top: 80px;
    background-color: #9792e4;
}

.plannings .card {
    background-color: #ffffff;
    height: 100%;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
}

.circle {
    border-radius: 100%;
    background-color: #9792e4;
    vertical-align: middle;
    border-color: transparent;
    padding: 14px 17px;
    margin-top: 15px;
}

.plannings i {
    vertical-align: middle;
    font-size: 17px;
}

.plannings .col {
    width: 50%;
    padding: 50px;
}

.plannings h3 {
    margin-top: -15px;
    font-size: 25px;
    color: white;
}

.plannings p {
    margin-top: 15px;
    font-size: 18px;
}

.strategic-planning {
    color: #ffffff;
}

.strategic-planning img {
    margin-bottom: 110px;
}

.app img {
    padding: 40px;
}

.app  h3 {
    color: #111111;
}
/*-------------------
   RESPONSIVE
-------------------*/
@media screen and (max-width: 992px) {
    .plannings .col {
        width: 100%;
    }
}

/*-------------------
SECTION TESTIMONIALS
-------------------*/
#testimonials {
    margin-top: 50px;
}

#testimonials .text {
    text-align: center;
}

#testimonials h1 {
    color: #9792e4;
    margin: 20px;
}

#testimonials .card {
    width: 100%;
    background-color: #9792e4;
    padding: 20px;
    border-radius: 40px;
    color: #ffffff;
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 20px;
}

#testimonials img {
    max-width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
}
/*-------------------
   RESPONSIVE
-------------------*/
@media screen and (max-width: 768px){
    #testimonials  .card {
        display: block;
        text-align: center;
        padding: 30px;
    }
}

/*-------------------
SECTION BENEFITS
-------------------*/
#benefits {
    margin-top: 100px;
    background-color: #9792e4;
    padding:50px
}

#benefits .title {
    text-align: center;
    color: white;
    font-size: 23px;
    padding-bottom: 20px;
}

#benefits .box {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 30px;
    color: #ffffff;
    gap: 40px;
    margin-top: 20px;
}

#benefits .col {
    width: calc(100% / 3);
}

#benefits .box h1, h3 {
    color: #9792e4;
    margin-bottom: 20px;
}

#benefits .box h1 {
    font-size: 45px;
}

#benefits .box  p {
    color: #5a6e7f;
    margin-bottom: 20px;
}

/*-------------------
   RESPONSIVE
-------------------*/
@media screen and (max-width: 992px) {
    #benefits .col {
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    #benefits .col {
        width: 100%;
    }
}

/*-------------------
  SECTION ABOUT-US
-------------------*/
#about-us {
    padding: 50px;
}

#about-us h1, h3 {
    color: #9792e4;
    margin-bottom: 20px;
}

#about-us h1 {
    font-size: 40px;
}

#about-us img {
    max-width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

#about-us .col-66 {
    width: calc(100% - (100% / 3));
    padding: 40px;
}

#about-us .col-33 {
    width: calc(100% / 3);
    padding: 40px;
}

#about-us .col-33 .card {
    padding-left: 50px;
}

/*-------------------
   RESPONSIVE
-------------------*/
@media screen and (max-width: 768px){
    #about-us .row {
        display: block; 
    }

    #about-us .col-33 {
        width: 100%;
    }

    #about-us .col-66 {
        width: 100%;
    }

    #about-us img {
        padding: 0 0;
    }
}

/*-------------------
  SECTION STARTED
-------------------*/
.started {
    text-align: center;
    padding: 40px;
    background-color: #9792e4;
}

.started h1 {
    font-size: 60px;
    color: #fdc15f;
    margin: 15px;
}

main .started p, a, h2 {
    color: #ffffff;
    margin: 20px;
}

.started a {
    margin-left: 0;
}  

.started p:first-child {
    color: #bfbcee;
    margin-bottom: -5px;
}

.started p {
    font-size: 13px;
}

/*-------------------
      FOOTER
-------------------*/
footer {
    background-color: #333333;
    padding: 30px;
    text-align: center;
}

footer p:last-child {
    margin-top: 25px;
}

footer a {
    color: #9792e4;
    margin-left: 0;
    margin-right: 0;
}

footer p {
    color: white;
    font-size: 13px;
}